* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* set the palette */
:root {
  --primary: rgba(39, 42, 131, 1);
  --secondary: rgb(194, 240, 253);
  --tertiary: rgba(39, 42, 131, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgb(137, 137, 145);
}

/* what of this can I remove since I have the reset loaded? */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

/* what of this can I remove since I have the reset loaded? */
p {
  margin: 0;
}

/* please explain the concept of setting the viewport to 62.5% and using rem */

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  /* hide on scroll down, show on scroll up */
  transition: top 1.5s;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  font-size: 1.2rem;
  /* allows :hover to transition background to cover the text */
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.hero-banner {
  background: var(--primary);
  background-image: url("../images/lines-of-code.jpeg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  /* blends background image and gradient */
  background-blend-mode: soft-light; 
  min-height: 50vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--secondary);
  color: var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }
  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 7vw;
  }


/* use this if you want the h2 tags to be in their own left column 
.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary); 
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
} */

.page-section p {
  margin-bottom: 20px;
  font-size: 3vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 2px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  height: 200px;
  /* 2 columns
  flex-basis: calc(50% - 1em); */
  /* 3 columns */
  flex-basis: calc(33% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:last-child {
  min-height: 350px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.bookmarks address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bookmarks address a {
  color: var(--tertiary);
  padding: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position:bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
  font-family: tahoma;
}

.bookmarks address a:hover {
  background-size: 100% 90%;
  color: var(--secondary);
}

/* project images section */
.flex-project-images {
  border: 2px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  height: 180px;
  width: 180px;
  flex-basis: calc(33% - 1em);
  display: flex;
  align-items:flex-start;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-size: 105%;
  transition: all 0.5s;
  font-size: 0.9rem;
  background-repeat: no-repeat;
}

.flex-project-images div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-project-images h3 {
  font-size: 1.2rem;
}

/* contact section */
.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 90%;
  color: var(--secondary);
}

/* add remaining portfolio images */
.css-snippets {
  background-image: url("../images/css-snippets.jpg");
}
.css-1 {
  background-image: url("../images/css-day-1-animation-square.gif");
}
.css-2 {
  background-image: url("../images/css-day-2-animation-square.gif");
}
.css-3 {
  background-image: url("../images/css-day-3-animation-square.gif");
}
.css-4 {
  background-image: url("../images/CSS-Challenge-Day-4.jpg");
}
.css-5 {
  background-image: url("../images/CSS-Challenge-Day-5.jpg");
}
.css-6 {
  background-image: url("../images/CSS-Challenge-Day-6.jpg");
}
.homework-01 {
  background-image: url("../images/homework-01.jpg");
}

.jacob-collier {
  background-image: url("../images/jacob-collier-wallpaper.jpg");
}

/* media breakpoints */
@media screen and (max-width: 1300px) {
  .flex-item {
    flex-basis: calc(50% - 1em);
    height: 150px;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }
  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }
  header nav {
    justify-content: center;
  }
  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }
  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-project-images,
  .flex-item:first-child,
  .flex-item:last-child {
    flex-basis: 100%;
  }
  .flex-item:first-child, .flex-item:last-child {
    min-height: 150px;
  }
  .hero-banner {
    justify-content: center;
    text-align: center;
  }
  .contact address {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav a {
    font-size: 0.8rem;
  }
  .page-section > h2 {
    font-size: 30pt;
  }
}